@using RehacerTPS.ViewModels;
@model CrearTableroViewModel;
<h1 class="text-center font-weight-bold">Crear Tablero</h1>
<form asp-asp-controller="Tablero" asp-action="CrearP" method="post">
    <div class="form-group">
        <label for="nombre" asp-for="@Model.nombre"></label>
        <input asp-for="@Model.nombre" class="form-control mb-4" id="nombre" placeholder="tablero de gonzalo Robinson">
        <span asp-validation-for="@Model.nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="desc" asp-for="@Model.descripcion"></label>
        <input asp-for="@Model.descripcion" class="form-control mb-4" id="desc">
        <span asp-validation-for="@Model.descripcion" class="text-danger"></span>
    </div>
@* El id de usuario asignado, no se selecciona, ya que lo asigno desde el controller y será el usuario logueado, esto se debe a que no tiene sentido que un usuario cree tableros de otro usuario*@
<input hidden asp-for="@Model.id_usuario_asignado">
    @* En caso de haber querido que si se pueda hacer lo anterior, cambio por esto. COMENTO ESTA LINEA PORQUE NO TIENE SENTIDO QUE INGRESEE EL USUARIO PROPIETARIO, EN REALIDAD, DEBERIA SER EL USUARIO QUE SE LOGUEÓ *@
    @* <div class="form-group mb-4">
        <label class="form-check-label" for="us">Usuario Propietario</label>
        <select id="us" asp-for="@Model.id_usuario_asignado" class="form-select">
            @foreach (var el in Model.usuarios)
                {
                    <option value="@el.id">@el.nombre</option>
                }
        </select>
        <span asp-validation-for="@Model.id_usuario_asignado" class="text-danger"></span>
    </div> *@
    <div class="btn-group d-flex mt-4">
        <button type="submit" class="btn btn-outline-primary">Crear</button>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}